.card-content-md {
    border-radius: 35px;
 }

 .no-padding{
     margin: 0px;
 }

.score {
   font-size: 80px; 
   color: midnightblue;
}


.mycenter{
    padding: 0px 10px;
    text-align: center;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

.ion-color-danger {
    --ion-color-base: #ff0000 !important;
}
* {
    text-align: center;
}
ion-item {
    --border-color: #46380d !important;
    border-radius: 13px;
}
ion-card-title {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: midnightblue;
}

