<ion-content>
  <ion-card class="no-padding">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Transparency Rating</ion-card-subtitle>
      <ion-card-title class="ion-text-center">Transparency Rating</ion-card-title>
      <ion-back-button>Back</ion-back-button>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>vTender Analysis &nbsp;</ion-card-title>
  
        <ion-button color="primary">Tender Stutus:  {{ tenderStatus }}</ion-button>
      </ion-card-header>
     <ion-grid>
       <ion-row >
         <ion-col class="ion-text-center">
          <label class="score">{{ totalScore }}%</label>
         </ion-col>
       </ion-row>
      <ion-row >
        <ion-col class="ion-text-center">
          <div class="title">Applied Count</div>
          <ion-badge color="primary ion-text-center">{{ applyCount }}</ion-badge>
        </ion-col>

        <ion-col class="ion-text-center">
          <div class="title adivider">Winning Count</div>
          <ion-badge color="primary ">{{winningCount}}</ion-badge>
         </ion-col>
      </ion-row>
    </ion-grid> 
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="body-outline"></ion-icon>
            <div class="title">&nbsp;Founded</div>
          <ion-badge color="primary" slot="end">{{companyRegistrationNo}}</ion-badge>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <div class="title adivider">&nbsp;Tenders Applied</div>
      <ion-badge color="primary" slot="end">{{ applyCount }}</ion-badge>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="trophy-outline"></ion-icon>
        <div class="title">&nbsp;Tenders Won</div>
          <ion-badge color="primary" slot="end">{{ winningCount }}</ion-badge>
    </ion-item>
  
    <ion-item>
      <ion-icon name="card-outline"></ion-icon>
            <div class="title">&nbsp;Awarded Point</div>
      <ion-badge color="primary" slot="end">{{ awardedPoint }}</ion-badge>
    </ion-item>

    
      <div class="mycenter">
        <p><b>Alert:&nbsp;</b>{{ Alert }}<ion-button fill="outline" color="danger" slot="end">{{ vtenderAnalysisScore }}% of 50% Transparent</ion-button>
         </p>
      </div>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <ion-icon name="logo-google"></ion-icon>
      <ion-list>
        <ion-card-header>
          <ion-card-title>Google My Business Validator &nbsp;</ion-card-title>
        </ion-card-header>   
        <ion-item>
          <strong><b>Name:&nbsp; </b> </strong> {{name}}
        </ion-item>
        <ion-item>
          <b>Business Status:&nbsp; </b> {{businessStatus}}
        </ion-item>
        <ion-item style="font-size: 13px">
         {{formattedAddress}}
        </ion-item>
        <ion-item>
          <strong>Open Now: </strong>&nbsp;  {{operational}}
         </ion-item>
         
         
          <ion-item style="font-size: 14px"
           *ngFor="let item of googleObj">
                         {{item.name}}
         </ion-item>
         <ion-item>
          <p><b>Credibility Alert:&nbsp;</b> {{ googleAlert }} <ion-button fill="outline" slot="end">{{ pointScore }}% of 50% Transparent</ion-button></p>
         </ion-item>
     </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
        
    <ion-card-header>
      <ion-card-title>Tender Details &nbsp;</ion-card-title>

      <ion-card-subtitle>Publish Date {{ datePublished }} | Close Date: {{ closingDate }} </ion-card-subtitle> 
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          {{ tenderDescription }}      
        </ion-item>

        <ion-item>
          <label> Category: </label> {{ category }}
        </ion-item>
   
      <ion-item>
          <label> Tender Number: &nbsp;</label> {{ tenderNumber }}
      </ion-item>
       
        <ion-item>
          <label> Published Data: &nbsp; </label> {{ datePublished }}
        </ion-item>
        
        <ion-item>
          <label>Closing Date: &nbsp;</label> {{ closingDate }}
        </ion-item>
     </ion-list>

    </ion-card-content>
 
 </ion-card>


 <ion-card>
        
  <ion-card-header>
    <ion-card-title>Winner Details &nbsp;</ion-card-title>

    <ion-card-subtitle>{{ companyName }} </ion-card-subtitle> 
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        {{ companyRegistrationNo }}      
      </ion-item>

      <ion-item>
        <label> Director(s): </label> {{ directors }}
      </ion-item>
 
    <ion-item>
        <label> Phone Number: &nbsp;</label> {{ companyPhoneNumber }}
    </ion-item>
     
      <ion-item>
        <label> Email &nbsp; </label> {{ companyEmail }}
      </ion-item>
      
      <ion-item>
        <label>Closing Date: &nbsp;</label> {{ closingDate }}
      </ion-item>
   </ion-list>

  </ion-card-content>

</ion-card>



 <!-- <ion-card *ngIf="validTender"> -->
  <ion-card>
  <ion-card-header>
    <ion-card-title>Institution Details &nbsp;</ion-card-title>
    {{ nameOfInstitution }}
  </ion-card-header>

  <ion-card-content>
    <label>Offical Location: &nbsp;</label> {{ officalLocation }}
  </ion-card-content>

  <ion-card-content>
    <ion-list>
    

      <ion-item>
        <label> Contact Person: &nbsp; </label> {{ InstitutionContactPerson }}
      </ion-item>

      <ion-item>
        <label> Phone: &nbsp; </label> {{ InstitutionPersonPhone }}
      </ion-item>

      <ion-item>
        <label> Email: &nbsp; </label> {{ InstitutionPersonEmail }}
      </ion-item>
      <ion-item>
        <section class="full-width">
          <ion-button routerLink="/tabs/tab2" expand="full" color="secondary">Check Another Tender</ion-button>
        </section>
      </ion-item>

    </ion-list>

  </ion-card-content>

</ion-card>




</ion-content>