.no-padding{
    margin: 0px;
}

.header {
    padding-top: 40px;
    font-size: 22px;
    font-weight: bold;
}

.ion-color-secondary {
    --ion-color-base: #6a64ff !important;
    --ion-color-base-rgb: var(--ion-color-secondary-rgb, 61, 194, 255) !important;
    --ion-color-contrast: var(--ion-color-secondary-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-secondary-shade, #6a64ff) !important;
    --ion-color-tint: var(--ion-color-secondary-tint, #50c8ff) !important;
}
ion-item[_ngcontent-yob-c137] {
    --border-color: transparent !important;
    border-radius: 13px;
}
.danger {
    background: #eb445a;
    color: #fff
}
.empty {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.card-content-md {
    border-radius: 3px;
}
ion-input {
    background: #ffffff;
    border-radius: 6px;
    padding: 0px 7px !important;
    margin: 0px 10px !important;
}
ion-button {
    width: 203px !important;
    margin: 0px auto 10px !important;
    border-radius: 15px !important;
}
ion-item {
    --border-color: #46380d !important;
    border-radius: 13px;
}
ion-card {
    --ion-background-color: #ffc107!important;
 }
 .heatitle{
    font-size: 25px !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: midnightblue;
 }