<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="margin-top ion-text-center">
      <ion-icon name="checkmark-done-outline"></ion-icon>
                    <span class="heatitle"> vTender</span>
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="padding-top:130px">
     <ion-row>
       <ion-col>
       
        <ion-card *ngIf="vtender">
          <label *ngIf="ifEmpty"  class="empty" >{{errorMsg}}</label>
          <ion-card-title class="margin-top ion-text-center ion-text-uppercase header"  style="padding-top:40px; font-weight: bold">Verify Tender &nbsp;</ion-card-title>
          <ion-card-header>
            <ion-card-subtitle class="margin-top ion-text-center">Enter Request For Quotation Number (RFQN)</ion-card-subtitle>
            

            <ion-card-content>
              <section>
                <ion-item class="ion-card" lines="none">
                  <ion-input type="text" name="title" [(ngModel)]="inputTenderNumber" required></ion-input>
                </ion-item>
                <section class="full-width" style="padding-top:40px">
                  <ion-button shape="round" size="default" (click)="verify()" expand="full" color="secondary">Verify Tender</ion-button>

                </section>
              </section>
                 <p class="margin-top ion-text-center">To Detect Awarded Tender Fraud - Input Tender Number</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
        
       
        <ion-card *ngIf="inValidTender" class="danger">
          <ion-card-header>
            <ion-card-title class="header danger">ALERT!!! &nbsp;</ion-card-title>
            <ion-card-subtitle class="danger">WE DO NOT HAVE A RECORD OF TENDER NUMBER  {{ tenderNumber }}</ion-card-subtitle> 
          </ion-card-header>
          <section class="full-width">
            <ion-button (click)="doRefresh()" expand="full" color="secondary">Try Again</ion-button>
          </section>
        </ion-card>

        <ion-card *ngIf="pending" class="danger">
          <ion-card-header>
            <ion-card-title class="header danger"> {{ tenderNumber  }} &nbsp;</ion-card-title>
            <ion-card-subtitle class="danger">THIS TENDER IS PENDING {{ tenderNumber }}</ion-card-subtitle> 
          </ion-card-header>
          <section class="full-width">
            <ion-button (click)="doRefresh()" expand="full" color="secondary">Verify Another Tender</ion-button>
          </section>
        </ion-card>
        


       <ion-card *ngIf="validTender" style="padding-top:0px !important">
        
          <ion-card-header>
            <ion-card-title style="text-align: center; font-weight: bold">Tender Details &nbsp;</ion-card-title>
            <ion-card-subtitle>Tender Stutus:  {{ tenderStatus }}</ion-card-subtitle> 
          </ion-card-header>
        
          <ion-card-content>
           <label>Tender Description: </label> {{ tenderDescription }}      
           </ion-card-content>

          <ion-card-content>
            <label> Category: </label> {{ category }}
          </ion-card-content>
         
          <ion-card-content>
            <ion-item>
                <label> Tender Number: &nbsp;</label> {{ tenderNumber }}
            </ion-item>
             
        
  
              <ion-item>
                <label> Published Data: &nbsp; </label> {{ datePublished }}
              </ion-item>
              
              <ion-item>
                <label>Closing Date: &nbsp;</label> {{ closingDate }}
              </ion-item>
  
             <ion-item>
              <section class="full-width">
                <ion-button (click)="refreshPage()" expand="full" color="secondary">Check Another Tender</ion-button>
              </section>
             </ion-item>

          </ion-card-content>
       
       </ion-card>


       <!-- <ion-card *ngIf="validTender"> -->
        <ion-card  *ngIf="validTender">
        <ion-card-header>
          <ion-card-title>Institution Details &nbsp;</ion-card-title>
          <ion-card-subtitle>Tender Stutus</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
         <b>Department: &nbsp;</b> {{ nameOfInstitution }}
        </ion-card-content>
         
        

        <ion-card-content>
          <label>Offical Location: &nbsp;</label> {{ officalLocation }}
        </ion-card-content>

        <ion-card-content>
          <ion-list>
          

            <ion-item>
              <label> Contact Person: &nbsp; </label> {{ InstitutionContactPerson }}
            </ion-item>

            <ion-item>
              <label> Phone: &nbsp; </label> {{ InstitutionPersonPhone }}
            </ion-item>

            <ion-item>
              <label> Email: &nbsp; </label> {{ InstitutionPersonEmail }}
            </ion-item>
            <ion-item>
              
            </ion-item>

          </ion-list>

        </ion-card-content>
     
     </ion-card>


    

       </ion-col>
     </ion-row> 
  </ion-grid>
</ion-content>
