ion-content ion-toolbar {
    --background: translucent;
  }

  ion-item {
    --border-color: #46380d !important;
    border-radius: 13px;
}
ion-content {
   --ion-background-color: #ffc107 !important;
}