<ion-content>
  <ion-slides pager >
    <ion-content>
      <ion-slides pager="true">
        <ion-slide>
          <ion-icon name="checkmark-done-outline"></ion-icon>
                    <p><span class="logo"> vTender</span> <br><span class="slogan">tender fraud detector</span></p>
        </ion-slide>
        <ion-slide>
          <div id="header" class="header jumbotron jumbotron-fluid">
            <span style="font-size: 20px !important; font-weight: bold">Verify Tender | Detect Awarded Tender Fraud</span>
            <p class="content">Over the past four years, a number of companies have lost tens of thousands of Rands due to alleged fraudulent request for quotations (RFQS). <p>
              <p class="content">With this software, companies or individual can verify the authenticity of Tender(RFQS), and also assist bidders to detect curuption and discripancies in awarded tender </p>
               
              <div>
                 <p class="content">Have you recieved Request For Quotation and want to verify before commitment? <br>Or you want to check the status of an awarded tender?</p>
                 <ion-button [routerLink]="['/tabs/tab2']" class="buttonss"  shape="large" size="small" color="primary" >Continue</ion-button> 
                

              </div>
              <span style="font-size: 13px !important; position: relative; top: 75px;">Inspired by Andela | Facebook - Team279 </span>
          </div>     
        </ion-slide>
        

      </ion-slides>
</ion-content>


