/* You can add global styles to this file, and also import other style files */

*{
  padding: 8px;
}
body {
   background-color: #f1f1f1;
   font-size: 0.9rem;
  }
.header {
  text-align: center;
  padding:10px;
}
input.ng-invalid {
   border-left: 5px solid red;
}
input.ng-valid {
  border-left: 5px solid green;
}
span.error {
  color: red !important;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: 300;
  list-style: none;
}
.navbar-brand {
   margin-left: 30px;
}
#button2, #textid {
  margin: 10px;
}
.mybtn {
  width: 9% !important;
  margin: 0px;
  position: relative;
  left: 50%;
  top: -17px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn-primary:hover {
  color: #fff;
  background-color: #512fad;
  border-color: #0062cc;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
  margin: -28px;
}

.flex{
  display: flex;
 flex-wrap: wrap;
 justify-content: center;

}
.flex > div {
 margin: 0px 15px 30px;
 background-color: #ffc107;
 color: #fff;
 padding:20px;
 box-shadow: 0 4px 4px -2px #232323;
    -moz-box-shadow: 0 4px 4px -2px #232323;
    -webkit-box-shadow: 0 4px 4px -2px #232323;
}
.flex > div:hover{
  cursor: pointer;
  padding:20px;
  box-shadow: 0 12px 12px -8px #232323;
    -moz-box-shadow: 0 12px 12px -8px #232323;
    -webkit-box-shadow: 0 12px 12px -8px #232323;
}
.hello{
  color:red;
}
.image-size {
  width: 180px;
}
.btn-primary {
  background-color: transparent ;
  border: 1px solid #512fad;
  color: #000;
  font-weight: 400;
}
#validate {
  margin: 15px;
}
.text-center {
  text-align: center;
}

.loader {
  border: 20px solid #512fad;
  border-radius: 50%;
  border-top: 16px solid  #512fad;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hide {
  display: none;
}

.noloader {
  background-color: transparent !important;
}
input {
  overflow: visible;
  border: 1px solid  #512fad;
}
input:focus-within {
  overflow: visible;
  border: 1px solid  #8167c9;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  max-width: 70%;
  margin: auto;
}
.card-header {
  text-align: center;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  font-family: SANS-SERIF;
  color: #f8f9fa;
  font-weight: 100;
  font-size: 29px;
  background-color: #29713ae8;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
#tenderNo {
  text-align: right;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  list-style: none;
}

@media (min-width: 576px){
  .jumbotron {
    padding: 1rem 4rem;
  }
}

#tendertable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tendertable td, #tendertable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tendertable tr:nth-child(even){background-color: #f2f2f2;}

#tendertable tr:hover {background-color: #ddd;}

#tendertable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.right {
  position: relative;
  left: 90%;
}
.bg-light {
  background-color:#512fad !important;
}
.navbar-light .navbar-brand {
  color: #f8f9fa;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.navbar {
  top: -19px;
}
.pt-3, .py-3 {
  padding-top: 4rem!important;
}
.head-menu {
   color: #fff;

}
.navbar-brand:hover {
  color: #ffc107 !important;
  text-decoration: none;
}
.head-menu:hover {
  color: #ffc107 !important;
  text-decoration: none;
}
.secondbtn {
  background-color: #512fad;
  color: #fff
}
b.size {
  font-size: 16px;
}
.card-opacity {
  opacity: 0.6;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0px;
  margin: -17px;
  width: 100%;
  background-color: #512fad;
  color: white !important;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
